.card {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 5%;
    min-height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.card-body {
    position: relative;
    padding: 0 20px 20px;
}

.card-img {
    max-width: 100%;
    min-height: 200px;
    object-fit:cover;
    object-position: 0;
    border-radius: 5% 5% 0 0;
}

.badge {
    background-color: var(--primary);
    color: #fff;
    border-radius: 50rem;
    padding: 0.35em 0.65em;
    font-size: 0.75rem;
    font-weight: 700;
    margin-right: 5px;
}

.card-buttons {
    display: flex;
    margin: auto auto 10px;
    gap: 1rem;
}

.card-buttons a {
    text-decoration: none;
    color: var(--accent);
    margin: 0;
    padding: 0;
}

.card-buttons a:hover {
    color: var(--accent-hover);

}