#skills {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 100px 0;
    align-items: center;
}

.skills-container {
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.skills-container p {
    color: var(--text);
    font-size: 1.2rem ;
}



.skills-container img {
    height: 32px;
    margin-bottom: 20px;
    align-items: center;
}

.frontend-grid, .backend-grid, .other-grid{
    display: grid;
    justify-items: center;
    margin: 10px 0 30px 0;
}

.frontend-grid {
    grid-template-columns: repeat(5, 120px);
}

.backend-grid {
    grid-template-columns: repeat(3, 120px);
}

.other-grid {
    grid-template-columns: repeat(2, 120px);
}

.active {
    display: grid;
}

.inactive {
    display: none;
}

@media (max-width: 992px) {
    .skills-container {
        width: 75vw;
    }
}

@media (max-width: 768px) {
    .skills-container {
        width: 85vw;
    }
    .skills-container p {
        font-size: 21px;
    }
    .frontend-grid {
        grid-template-columns: repeat(5, 105px);
    }
    
    .backend-grid {
        grid-template-columns: repeat(3, 105px);
    }
    
    .other-grid {
        grid-template-columns: repeat(2, 105px);
    }
}

@media (max-width: 576px) {
    .skills-container {
        width: 85vw;
    }
    .skills-container p {
        font-size: 24px;
    }
    .frontend-grid, .backend-grid {
        grid-template-columns: repeat(3, 100px);
    }
    .other-grid {
        grid-template-columns: repeat(2, 100px);
    }
    .row-3 {
        order: 1;
        margin-top: 25px;
    }
    .row-4 {
        order: 2;
    }
    .javascript {
        grid-row-start: 4;
    }
    .react {
        grid-row: 4 / 4;
    }
}